* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: aqua;
    --white: #FFFFFF;
    --space-default: 70px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--space-default);
    padding-bottom: 24px;
    padding-left: var(--space-default);
    font-family: 'Righteous', cursive;
    position: fixed;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
}

header {
    height: 42px;
}

main {
    flex-grow: 1;
}

.logo {
    grid-column: 1/4;
}

.logo01 {
    grid-column: 6/6;
}

.logo02 {
    grid-column: 12/12;
}

.pontilhados {
    place-self: center start;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid black;
}

.circulo.selecionado {
    background-color: black;
}

.text1 {
    place-self: center start;
    display: flex;
    flex-direction: column;
    gap: 55px;
    grid-column: 2/6;
    color: black;
}

.texts2 {
    height: 111px;
    width: 254px;
    left: 559px;
    top: 188px;
    border-radius: nullpx;
    grid-template-columns: 2/6;
    color: black;
    position: absolute;
    left: 0;
}

.imagemTenis {
    place-self: flex end;
    display: flex;
    flex-direction: column;
    gap: 55px;
    grid-column: 13/14;
}

.imagemFundo {
    /* position: absolute;
    background: #4AE6D3;
    z-index: -1;
    transform: translate(240%, -10%);
    height: 105%;
    width: 30%; */
    grid-column: 6/-1;
    place-self: center end;
    position: relative;
}

footer {
    height: 1000px;
}